@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 43% 95%;
    --foreground: 20 14% 4%;
    --card: 40 43% 98%;
    --card-foreground: 20 14% 4%;
    --popover: 40 43% 98%;
    --popover-foreground: 20 14% 4%;
    --primary: 77 21% 45%;
    --primary-foreground: 20 14% 4%;
    --secondary: 77 20% 88%;
    --secondary-foreground: 20 14% 4%;
    --muted: 77 10% 92%;
    --muted-foreground: 20 10% 45%;
    --accent: 14 72% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 77 10% 85%;
    --input: 77 10% 85%;
    --ring: 14 72% 62%;
    --radius: 0rem;
  }

  .dark {
    --background: 20 14% 8%;
    --foreground: 40 43% 95%;
    --card: 20 14% 10%;
    --card-foreground: 40 43% 95%;
    --popover: 20 14% 8%;
    --popover-foreground: 40 43% 95%;
    --primary: 77 21% 66%;
    --primary-foreground: 20 14% 4%;
    --secondary: 77 10% 20%;
    --secondary-foreground: 40 43% 95%;
    --muted: 77 10% 15%;
    --muted-foreground: 40 20% 65%;
    --accent: 14 72% 62%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 77 10% 25%;
    --input: 77 10% 25%;
    --ring: 14 72% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
